<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lining.springbootmvc.mapper.GirlDoMapper">
  <resultMap id="BaseResultMap" type="com.lining.springbootmvc.pojo.GirlDo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="cup_size" jdbcType="VARCHAR" property="cupSize" />
  </resultMap>
  <sql id="Base_Column_List">
    id, age, cup_size
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from girl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from girl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lining.springbootmvc.pojo.GirlDo">
    insert into girl (id, age, cup_size
      )
    values (#{id,jdbcType=INTEGER}, #{age,jdbcType=INTEGER}, #{cupSize,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lining.springbootmvc.pojo.GirlDo">
    insert into girl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="cupSize != null">
        cup_size,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="cupSize != null">
        #{cupSize,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lining.springbootmvc.pojo.GirlDo">
    update girl
    <set>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="cupSize != null">
        cup_size = #{cupSize,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lining.springbootmvc.pojo.GirlDo">
    update girl
    set age = #{age,jdbcType=INTEGER},
      cup_size = #{cupSize,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>